@media screen and (max-width: 350px) {
  .for_colors {
    display: none;
  }

  .main_content {
    width: 100%;
    margin: none;
  }

  .project_box{
    flex-direction: column;
  }

  .header {
    width: 100%;
  }

  .logo {
    min-width: 60px;
    height: 50%;
  }

  .project_box {
      margin-bottom: 15%;
      width: 100%;
    }

    .footer_img {
      height: 55%;
      width: 90%;
    }
    .main_image {
      width: 100%;
    }
    .span{
      padding: 5%;
    }
}

@media screen and (max-width: 430px) {


  }

@media screen and (min-width: 600px) {
  .project_box span {
    bottom: 40%;
    position: relative;
  }
  .project_box {
    flex-direction: row;
  }
}

@media screen and (min-width: 900px) {
  .color_box span {
    padding-right: 10%;
  }
}

@media screen and (min-width: 1200px) {
  header {
    max-height: 185px;
  }
  html {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}
