@import url('https://fonts.googleapis.com/css?family=Karla|Proza+Libre');

$my-white: #f5fbf8;
$my-gray: #3e5e65;


$text: $my-white;
$link: $my-white;
$background: $my-gray;
$family-sans-serif: "Proza Libre", "Karla", serif;
$tag-color: $my-gray;
$tag-background-color: $my-white;
$footer-background-color: $my-gray;
$body-background-color: $my-gray;
$navbar-background-color: $my-gray;
$navbar-item-color: $my-white;
$title-color: $my-white;
$subtitle-color: $my-white;
$navbar-item-hover-color: $my-gray;
@import "../node_modules/bulma/bulma.sass";

#logo{
  margin-top: 22%;
  max-width: 128px;
  max-height: 128px
}

.invisible-text {
  color: $my-gray;
}

#bulma{
  height: 40px;
}

#dropped-sub{
  margin-top: -0.25rem;
}

img{
  border-radius: 2%;
}

i{
  font-size: 1.5rem;
}

.fade-in{
  animation-name: text-fade-in;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

.does-transform:hover{
  cursor: pointer;
  animation-name: float;
  animation-duration: .5s;
  animation-timing-function: ease-in;
  animation-fill-mode: both;
}

.does-transform-text:hover{
  cursor: pointer;
  animation-name: float;
  animation-duration: .45s;
  animation-timing-function: ease-in;
  animation-fill-mode: both;
}

a:hover{
  text-decoration: none;
}

@keyframes float {

  100%{
    transform: scale(1.05);
  }
}

@keyframes text-fade-in {
  0%{
    color:$my-gray;
  }
  100%{
    color:$my-white;
  }
}

@media screen and(max-width: 765px) {
  #top-info{
    margin-left: 1rem;
  }
}
