@import url('https://fonts.googleapis.com/css?family=Karla|Proza+Libre');

$my-white: #f5fbf8;
$canyon: #65413e;


$text: $my-white;
$link: $my-white;
$background: $canyon;
$family-sans-serif: "Proza Libre", "Karla", serif;
$tag-color: $canyon;
$tag-background-color: $my-white;
$footer-background-color: $canyon;
$body-background-color: $canyon;
$navbar-background-color: $canyon;
$navbar-item-color: $my-white;
$title-color: $my-white;
$subtitle-color: $my-white;
$navbar-item-hover-color: $canyon;
@import "../node_modules/bulma/bulma.sass";


html{
  overflow-x: hidden;
}

#logo{
  margin-top: 22%;
  max-width: 180px;
  max-height: 180px
}


.section-top{
  margin-top: 3%;
}

.text-dropped{
  padding: 5% 0 0 2%;

}

.invisible-text {
  color: $canyon;
}

#brand-logo{
  max-height: 40px;
}

#bulma{
  max-height: 40px;
}

#dropped-sub{
  margin-top: -0.25rem;
}


i{
  font-size: 1.5rem;
}

.fade-in{
  animation-name: text-fade-in;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

#lfkoffee-image{
  width: 99.2%;
}

#about {
  transform: translateX(-100%);
}

#skills {
  transform: translateX(-100%);
}

.slide-in{
  animation: .5s ease-in-out both popIn;
}



.does-transform:hover{
  cursor: pointer;
  animation-name: float;
  animation-duration: .4s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  text-decoration: none;
  .project-text{
    color: $my-white;
  }
}

.does-transform-text:hover{
  cursor: pointer;
  animation-name: float;
  animation-duration: .45s;
  animation-timing-function: ease-in;
  animation-fill-mode: both;
}

@keyframes popIn{
  100%{
    transform: translateX(0);
  }
}

@keyframes popInLeft{

}

@keyframes float {

  100%{
    transform: scale(1.05);
  }
}

@keyframes text-fade-in {
  0%{
    color:$canyon;
  }
  100%{
    color:$my-white;
  }
}

#skewed{
  transform: skewY(-3deg);
}
.project_img{
  @include mobile{
    width: 65%;
  }
}

.navbar{
  box-shadow: 0 8px 16px rgba(10, 10, 10, 0.1);
  @include mobile{
    margin-bottom: 25px;
  }
}

#target{
  @include tablet-only {
  padding-left: 70%;
  overflow-x: hidden;
  }
}
@media screen and(max-width: 769px) {
  #top-info{
    margin-left: 1rem;
  }
  #main-image{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
}
