[submodule "PixelArtMaker"]
	path = PixelArtMaker
	url = https://github.com/Zestymcspicy/PixelArtMaker.git
[submodule "fendfinal"]
	path = fendfinal
	url = https://github.com/Zestymcspicy/fendfinal
[submodule "frogger"]
	path = frogger
	url = https://github.com/zestymcspicy/frogger
